<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetUser</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="getUserForm">
    <div id="getUserFormContainer" style="display:none;" class="form-style">
        <form id="getUserForm">
            <button type="submit">Get User</button>
        </form>
    </div>
</div>
</body>
</html>