<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddWord</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="addWordForm">
    <div id="addWordFormContainer" style="display:none;">
        <form id="addWordForm" class="form-style">
            <label for="cardTitleAdd">New word:</label>
            <input type="text" id="cardTitleAdd" name="title" placeholder="Enter the new word or card title" required>
            <label for="cardContentAdd">Meaning:</label>
            <textarea id="cardContentAdd" name="content" placeholder="Enter the definition or meaning of the word"
                      required></textarea>
            <button type="submit">Add word</button>
        </form>
        <form id="uploadFileForm" enctype="multipart/form-data" class="form-style">
            <div class="form-group full-width">
                <label for="uploadFile">Upload CSV/Excel file:</label>
                <input type="file" id="uploadFile" name="file" accept=".csv, .xlsx" required>
            </div>
            <div class="form-group">
                <label for="activationStart">Activation start:</label>
                <input type="datetime-local" id="activationStart" name="activationStart" required>
            </div>
            <div class="form-group">
                <label for="cardsPerBatch">Number of Cards for Initial Activation:</label>
                <input type="number" id="cardsPerBatch" name="cardsPerBatch" min="1"
                       placeholder="Enter number of cards for initial activation" required>
            </div>
            <div class="form-group">
                <label for="activationInterval">Interval for Next Batch Activation:</label>
                <div class="form-group-inline">
                    <input type="number" id="activationInterval" name="activationInterval" min="1"
                           placeholder="Enter number of hours, days, or weeks" required>
                    <select id="intervalUnit" name="intervalUnit" required>
                        <option value="" disabled selected>Select interval unit</option>
                        <option value="hours">Hours</option>
                        <option value="days">Days</option>
                        <option value="weeks">Weeks</option>
                    </select>
                </div>
            </div>
            <button type="button" class="full-width" onclick="uploadCards()">Upload file</button>
        </form>
    </div>
</div>
</body>
</html>