<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddWord</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="addWordForm">
    <div id="addWordFormContainer" style="display:none;" class="form-style">
        <form id="addWordForm">
            <label for="cardTitleAdd">New word:</label>
            <input type="text" id="cardTitleAdd" name="title" required>
            <label for="cardContentAdd">Meaning:</label>
            <textarea id="cardContentAdd" name="content" required></textarea>
            <button type="submit">Add word</button>
        </form>
    </div>
</div>
</body>
</html>