<!--<!doctype html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Edit Card Set</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Card Sets</h1>-->
<!--<div th:fragment="cardSetFragment">-->
<!--    <div id="editCardSetContainer" style="display:none;">-->
<!--        <form id="editCardSetForm" class="form-style">-->
<!--            <label for="editCardSetName">New Set Name:</label>-->
<!--            <input type="text" id="editCardSetName" name="setName" required>-->
<!--            <label for="editCardSetDescription">New Set Description:</label>-->
<!--            <textarea id="editCardSetDescription" name="setDescription" required></textarea>-->
<!--            <div class="form-group">-->
<!--                <label for="activationStartEditSet">Activation start:</label>-->
<!--                <input type="datetime-local" id="activationStartEditSet" name="activationStart">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="cardsPerBatchEditSet">Number of Cards for Initial Activation:</label>-->
<!--                <input type="number" id="cardsPerBatchEditSet" name="cardsPerBatch" min="1">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="activationIntervalEditSet">Interval for Next Batch Activation:</label>-->
<!--                <div class="form-group-inline">-->
<!--                    <input type="number" id="activationIntervalEditSet" name="activationInterval" min="1">-->
<!--                    <select id="intervalUnitEditSet" name="intervalUnit">-->
<!--                        <option value="hours">Hours</option>-->
<!--                        <option value="days">Days</option>-->
<!--                        <option value="weeks">Weeks</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--            <p id="editCardSetSize"></p>-->
<!--            <button type="submit">Save</button>-->
<!--        </form>-->
<!--        <div class="content">-->
<!--            <div class="user-card-sets" id="userCardSetCardsContainer">-->
<!--            </div>-->
<!--            <div id="editCardSetCardContainer" style="display:none;">-->
<!--                <form id="editCardSetCardForm" class="form-style">-->
<!--                    <input type="hidden" id="cardIdUpdateUser" name="cardId">-->
<!--                    <label for="editCardSetCardTitle">Title:</label>-->
<!--                    <input type="text" id="editCardSetCardTitle" name="title" required>-->
<!--                    <label for="editCardSetCardContent">Content:</label>-->
<!--                    <textarea id="editCardSetCardContent" name="content" required></textarea>-->
<!--                    <label for="activationStartCard">Activation start:</label>-->
<!--                    <input type="datetime-local" id="activationStartCard" name="activationStart">-->
<!--                    <button type="submit">Save</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
