<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practise Word</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="practise">
    <div id="practiseContainer" class="form-style">
        <div id="cardContentContainer">
            <p id="randomCardContent"></p>
        </div>
        <form id="practiseForm">
            <input type="text" id="userAnswer" placeholder="Enter the card title" required>
            <button type="submit" class="button">Submit</button>
        </form>
        <div id="resultMessage"></div>
        <button type="button" class="button" id="nextCardButton">Next</button>
    </div>
</div>
</body>
</html>
