<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RemindMe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="settings">
    <div id="settingsContainer" class="form-style">
        <div class="theme-selection">
            <button class="theme-button" data-theme="dark">Dark</button>
            <button class="theme-button" data-theme="light">Light</button>
        </div>
    </div>
</div>
</body>
</html>