<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddCardSet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="addCardSetForm">
    <div id="addCardSetFormContainer" class="form-style">
        <form id="addCardSetForm">
            <label for="cardSetName">New card set:</label>
            <input type="text" id="cardSetName" name="setName" required>
            <label for="cardSetDescription">Description:</label>
            <textarea id="cardSetDescription" name="setDescription" required></textarea>
            <label for="uploadFileTeacher">Upload CSV/Excel file:</label>
            <input type="file" id="uploadFileTeacher" name="file" accept=".csv, .xlsx" required>
            <button type="submit">Add card set</button>
        </form>
    </div>
</div>
</body>
</html>