<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studying Groups</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="studyingGroups">
    <div id="addStudyGroupTeacherContainer" class="form-style">
        <form id="addStudyGroupForm">
            <label for="groupName">Group name:</label>
            <input type="text" id="groupName" name="groupName" required>
            <label for="groupDescription">Group description:</label>
            <textarea id="groupDescription" name="groupDescription" required></textarea>
            <button type="submit">Add new group</button>
        </form>
    </div>
    <div class="content">
        <div id="teacherStudyingGroups">
        </div>
        <div id="groupDetailsContainer">
            <div class="form-group-details">
                <div class="group-details">Group name: <span id="detailGroupName"></span></div>
                <div class="group-details">Group description: <span id="detailGroupDescription"></span></div>
                <div class="group-details">Students number: <span id="detailGroupSize"></span></div>
                <div class="group-details">Join code: <span id="detailJoinCode"></span></div>
            </div>
            <div class="form-group">
                <h3>Students</h3>
                <ul id="studentList">
                </ul>
            </div>

            <div class="form-group">
                <h3>Card Sets</h3>
                <ul id="cardSetList">
                </ul>
                <button id="addCardSetButton" class="btn-add">Add</button>
            </div>
            <div id="cardSetModal" class="modal" style="display: none;">
                <div class="modal-content">
                    <h4>Select Card Set to Add</h4>
                    <ul id="availableCardSets">
                    </ul>
                    <button id="closeModalButton" class="btn-close">Close</button>
                </div>
            </div>
            <div id="editGroupForm" class="edit-group-form" style="display: none;">
                <div class="form-group">
                    <label for="editGroupName">Group name:</label>
                    <input type="text" id="editGroupName" name="editGroupName" required>
                </div>
                <div class="form-group">
                    <label for="editGroupDescription">Group description:</label>
                    <textarea id="editGroupDescription" name="editGroupDescription" required></textarea>
                </div>
                <div class="form-group">
                    <button id="saveGroupButton" class="btn-save">Save</button>
                </div>
            </div>
        </div>
        <div id="activateFormContainer" class="form-style" style="display: none;">
            <input type="hidden" id="selectedCardSetName" name="cardSetName">
            <div class="form-group">
                <label for="activationStartTeacherForm">Activation start:</label>
                <input type="datetime-local" id="activationStartTeacherForm" name="activationStart" required>
            </div>
            <div class="form-group">
                <label for="cardsPerBatchTeacherForm">Number of Cards for Initial Activation:</label>
                <input type="number" id="cardsPerBatchTeacherForm" name="cardsPerBatch" min="1"
                       placeholder="Enter number of cards for initial activation" required>
            </div>
            <div class="form-group">
                <label for="activationIntervalTeacherForm">Interval for Next Batch Activation:</label>
                <div class="form-group-inline">
                    <input type="number" id="activationIntervalTeacherForm" name="activationInterval" min="1"
                           placeholder="Enter number of hours, days, or weeks" required>
                    <select id="intervalUnitTeacherForm" name="intervalUnit" required>
                        <option value="" disabled selected>Select interval unit</option>
                        <option value="hours">Hours</option>
                        <option value="days">Days</option>
                        <option value="weeks">Weeks</option>
                    </select>
                    <button type="button" class="save-activate-set-btn" onclick="activateCardSet()">Activate
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
