<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studying Groups</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="studyingGroups">
    <div id="addStudyGroupTeacherContainer" class="form-style">
        <form id="addStudyGroupForm">
            <label for="groupName">Group name:</label>
            <input type="text" id="groupName" name="groupName" required>
            <label for="groupDescription">Group description:</label>
            <textarea id="groupDescription" name="groupDescription" required></textarea>
            <button type="submit">Add new group</button>
        </form>
    </div>
    <div class="content">
        <div class="cards" id="teacherStudyingGroups">
        </div>
    </div>
</div>
</body>
</html>
