<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Card Set</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="updateCardSetForm">
    <div id="updateCardSetFormContainer" class="form-style">
<!--        <form id="findWordFormUpdate">-->
<!--            <label for="cardTitleToFindUpdate">Your word:</label>-->
<!--            <input type="text" id="cardTitleToFindUpdate" name="title" required>-->
<!--            <button type="submit">Find word</button>-->
<!--        </form>-->
    </div>

<!--    <div id="foundCardsContainerUpdate" style="display:none;" class="form-style">-->
<!--        <h3>Found Cards</h3>-->
<!--        <div id="foundCardsListUpdate"></div>-->
<!--    </div>-->

<!--    <div id="editCardContainer" style="display:none;" class="form-style">-->
<!--        <form id="editCardForm">-->
<!--            <input type="hidden" id="cardIdUpdate" name="cardId">-->
<!--            <label for="editCardTitle">New word:</label>-->
<!--            <input type="text" id="editCardTitle" name="title" required>-->
<!--            <label for="editCardContent">New meaning:</label>-->
<!--            <textarea id="editCardContent" name="content" required></textarea>-->
<!--            <button type="submit">Update word</button>-->
<!--        </form>-->
<!--    </div>-->
</div>
</body>
</html>
