<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AddWord</title>
        <link rel="stylesheet" href="../style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <div id="addWordFormContainer" class="form-style">
            <form id="addWordForm">
                <label for="newWord">Новое слово:</label>
                <input type="text" id="newWord" name="newWord" required>

                <label for="wordMeaning">Значение:</label>
                <textarea id="wordMeaning" name="wordMeaning" required></textarea>

                <button type="submit">Добавить слово</button>
            </form>
        </div>
    </body>
</html>
