<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RemindMe</title>
        <link rel="stylesheet" href="../style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="main__content">
            <div class="menu__panel">
                <ul>
                    <li class="menu__list"><a href="/cards" class="menu__link ajax-link">Add new Card</a></li>
                    <li class="menu__list"><a href="/view-stats" class="menu__link ajax-link">View Statistics</a></li>
                    <li class="menu__list"><a href="/practise" class="menu__link ajax-link">Practise</a></li>
                    <li class="menu__list"><a href="/info" class="menu__link ajax-link">INFO</a></li>
                    <li class="menu__list"><a href="/settings" class="menu__link ajax-link">Settings</a></li>
                </ul>
            </div>
            <div id="content">
                <div class="cards" id="cardsContainer"></div>
                <div id="addWordFormContainer" style="display:none;" class="form-style">
                    <form id="addWordForm">
                        <label for="cardTitle">Новое слово:</label>
                        <input type="text" id="cardTitle" name="title" required>
                        <label for="cardContent">Значение:</label>
                        <textarea id="cardContent" name="content" required></textarea>
                        <button type="submit">Добавить слово</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="../script.js" defer></script>
    </body>
</html>
