<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RemindMe</title>
    <link rel="stylesheet" href="../style.css">
</head>
    <body>
        <div class="main__content">
            <div class="menu__panel">
                <ul>
                    <li class="menu__list"><a href="#" class="menu__link">Add new Card</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">View Statistics</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">Practise</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">INFO</a></li>
                    <li class="menu__list"><a href="#" class="menu__link">Settings</a></li>
                </ul>
            </div>
            <div class="cards">
                <div th:each="card : ${cards}">
                    <div class="card">
                        <h2 th:text="${card.title}">Заголовок карточки</h2>
                        <p th:text="${card.content}">Описание карточки</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>