<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RemindMe</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
        var roles = /*[[${roles}]]*/ [];
        var userId = /*[[${userId}]]*/ 'default';
    /*]]>*/
</script>
<div th:if="${#lists.contains(roles, 'ROLE_USER')}">
    <div th:replace="user/user-interface.html :: user-interface"></div>
</div>
<div th:if="${#lists.contains(roles, 'ROLE_TEACHER')}">
    <div th:replace="teacher/teacher-interface.html :: teacher-interface"></div>
</div>
<div th:if="${#lists.contains(roles, 'ROLE_STUDENT')}">
    <div th:replace="student-interface.html :: student-interface"></div>
</div>
<div th:if="${#lists.contains(roles, 'ROLE_ADMIN')}">
    <div th:replace="admin/admin-interface.html :: admin-interface"></div>
</div>
<script src="../script.js"></script>
</body>
</html>