<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teacher interface</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
<div th:fragment="teacher-interface" id="teacher">
    <div class="main__content">
        <div class="menu__panel">
            <ul>
                <li class="menuList"></li>
                <li class="menu__list"><a href="/card-sets" class="menu__link">Card-Sets</a></li>
                <li class="menu__list"><a href="/studying-groups" class="menu__link">Studying Groups</a></li>
                <li class="menu__list"><a href="/statistics" class="menu__link">Statistics</a></li>
                <li class="menu__list"><a href="/settings" class="menu__link">Settings</a></li>
            </ul>
        </div>
        <div class="content">
            <div th:replace="teacher/card-sets.html :: cardSets"></div>
            <div th:replace="teacher/groups-statistics.html :: groupsStatistics"></div>
            <div th:replace="teacher/study-settings.html :: studySettings"></div>
            <div th:replace="teacher/studying-groups.html :: studyingGroups"></div>
        </div>
    </div>
</div>
</body>
</html>
