<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User-interface</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="user-interface" id="userInterface">
    <div class="main__content">
        <div class="menu__panel">
            <ul>
                <li class="menu__list"><a href="/cards" class="menu__link">Your Cards</a></li>
                <li class="menu__list"><a href="/view-statistics" class="menu__link">View Statistics</a></li>
                <li class="menu__list"><a href="/practise" class="menu__link">Practise</a></li>
                <li class="menu__list"><a href="/info" class="menu__link">INFO</a></li>
                <li class="menu__list"><a href="/settings" class="menu__link">Settings</a></li>
            </ul>
            <div>
                <div id="responseBoard"></div>
                <div id="questionBoard"></div>
                <div id="responseModal" style="display:none;">
                    <p id="responseMessage"></p>
                    <input type="text" id="responseInput" />
                    <button id="submitResponse">Submit</button>
                    <button id="cancelResponse">Cancel</button>
                </div>
            </div>

            <ul>
                <li class="menuList"></li>
            </ul>
        </div>
        <div class="content">
            <div class="cards" id="cardsContainer"></div>
            <div th:replace="user/cards.html :: manageCards"></div>
            <div th:replace="user/view-statistics.html :: viewStatistics"></div>
            <div th:replace="user/practise.html :: practise"></div>
            <div th:replace="user/info.html :: info"></div>
            <div th:replace="user/settings.html :: settings"></div>
        </div>
    </div>
</div>
</body>
</html>