:root {
    --background-color: #ecf0f1;
    --text-color: #333;
    --menu-bg-color: #2c3e50;
    --menu-text-color: #ecf0f1;
    --menu-hover-bg-color: #2980b9;
    --menu-hover-border-color: #3498db;
    --card-bg-color: #ecf0f1;
    --card-text-color: #666;
    --form-bg-color: #ecf0f1;
    --form-text-color: #666;
    --active-card-bg-color: #dff0d8;
    --inactive-card-bg-color: #f2dede;
    --form-button-bg-color: #2c3e50;
    --form-button-text-color: #ecf0f1;
    --form-button-hover-bg-color: #3498db;
    --stats-table-bg-color: #ffffff;
    --stats-table-text-color: #333333;
    --stats-table-alt-bg-color: #f2f2f2;
    --stats-table-hover-bg-color: #dddddd;
    --stats-table-header-bg-color: #34495e;
    --stats-table-header-text-color: #ecf0f1;
    --info-bg-color: #2c3e50;
    --info-text-color: #ecf0f1;
}

[data-theme="dark"] {
    --background-color: #34495e;
    --text-color: #ecf0f1;
    --menu-bg-color: #ecf0f1;
    --menu-text-color: #2c3e50;
    --menu-hover-bg-color: #3498db;
    --menu-hover-border-color: #2980b9;
    --card-bg-color: #2c3e50;
    --card-text-color: #ecf0f1;
    --form-bg-color: #2c3e50;
    --form-text-color: #ecf0f1;
    --form-button-bg-color: #ecf0f1;
    --form-button-text-color: #2c3e50;
    --form-button-hover-bg-color: #2980b9;
    --stats-table-bg-color: #2c3e50;
    --stats-table-text-color: #ecf0f1;
    --stats-table-alt-bg-color: #3b4b5b;
    --stats-table-hover-bg-color: #4a5a6a;
    --stats-table-header-bg-color: #ecf0f1;
    --stats-table-header-text-color: #2c3e50;
    --info-bg-color: #ecf0f1;
    --info-text-color: #2c3e50;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
}

.interface {
display: none;
}

.menu__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--menu-bg-color);
    overflow-y: hidden;
    width: 200px;
    height: 100vh;
}

.main__content {
    display: flex;
    flex-direction: row;
}

.menu__list {
    font-weight: 500;
    padding: 2px;
}

.menu__list a {
    background-color: var(--menu-bg-color);
    border: 3px solid var(--menu-hover-bg-color);
    border-radius: 12px;
    color: var(--menu-text-color);
    padding: 10px;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
}

.menu__list a:hover {
    background-color: var(--menu-hover-bg-color);
    border: 3px solid var(--menu-hover-border-color);
    transform: translateY(-2px);
    border-radius: 12px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    gap: 5px;
    padding: 5px;
    background-color: var(--background-color);
    overflow-y: scroll;
    height: 100vh;
}
.card-set,
.card {
    border: 1px solid var(--text-color);
    border-radius: 12px;
    background-color: var(--card-bg-color);
    transition: transform 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-set.active-card-set {
    background-color: var(--active-card-bg-color);
}

.card-set.inactive-card-set {
    background-color: var(--inactive-card-bg-color);
}

.card-set h2 {
    font-weight: bold;
    color:  #333;
    margin-bottom: 10px;
    justify-items: center;
}

.card-set p {
    font-size: 14px;
    color: v#333;
    line-height: 1.6;
}

.card:hover {
    transform: translateY(-2px);
}

.card h2 {
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
    justify-items: center;
}

.card p {
    font-size: 14px;
    color: var(--card-text-color);
    line-height: 1.6;
}

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

/* Стили для формы */
.form-style {
            display: flex;
            flex-direction: column;
            background-color: var(--form-bg-color);
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            border: 1px solid var(--stats-table-text-color);
        }

        .form-group {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .full-width {
            grid-column: span 2;
        }

        .form-container {
            overflow: scroll;
            height: 100vh;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 14px;
            font-weight: 500;
        }

        .form-group label,
        .form-style label {
            color: var(--text-color);
        }

        .form-group input[type="text"],
        .form-group input[type="number"],
        .form-group input[type="datetime-local"],
        .form-group input[type="file"],
        .form-group textarea,
        .form-style input[type="text"],
        .form-style input[type="number"],
        .form-style input[type="datetime-local"],
        .form-style input[type="file"],
        .form-style textarea {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid var(--form-text-color);
            border-radius: 16px;
            font-size: 14px;
            color: var(--form-text-color);
        }

        .form-group button,
        .form-style button {
            background-color: var(--form-button-bg-color);
            border: 3px solid var(--menu-hover-bg-color);
            border-radius: 12px;
            width: 150px;
            color: var(--form-button-text-color);
            padding: 10px;
            margin-top: 20px;
            display: block;
            transition: background-color 0.3s, transform 0.3s;
        }
#newUserMessagesTable button {
    margin-top: 0;
}

#newUserMessagesTable td {
    white-space: normal;
}

.col-checkbox {
    width: 5%;
}

.col-number {
    width: 5%;
}

.col-message {
    width: 50%;
}

.col-timestamp {
    width: 20%;
}

.col-action {
    width: 20%;
}

.form-style button:hover {
    background-color: var(--form-button-hover-bg-color);
}

/* Стили для кнопок выбора темы */
.theme-button {
    background-color: transparent;
    border: 2px solid var(--menu-hover-bg-color);
    color: var(--text-color);
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.theme-button.active {
    background-color: var(--menu-hover-bg-color);
    color: var(--menu-text-color);
}

/* Стили для состояний hover и active */
.theme-button:hover,
.theme-button.active:hover {
    background-color: var(--menu-hover-border-color);
    color: var(--menu-bg-color);
}

.content {
    width: 100%;
}

#newUserMessagesContainer {
    padding: 5px;

}

/* Стили для таблицы статистики */
.stat-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    height: 100vh;
    flex-grow: 1;
    gap: 5px;
    padding: 5px;
}

.stats-table {
    border-collapse: collapse;
    background-color: var(--stats-table-bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 100%;
    table-layout: auto;
}

.stats-table th,
.stats-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid var(--stats-table-text-color);
    white-space: nowrap;
}

.stats-table th {
    min-height: 40px;
    background-color: var(--stats-table-header-bg-color);
    color: var(--stats-table-header-text-color);
}

.stats-table tr:nth-child(even) {
    background-color: var(--stats-table-alt-bg-color);
}

.stats-table tr:hover {
    background-color: var(--stats-table-hover-bg-color);
}

/* Стиль для заголовка таблицы */
.stats-table-title {
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* Стили для контейнера информации */
#infoContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    overflow-y: scroll;
    height: 100vh;
}

#infoContainer h3 {
    background-color: var(--info-bg-color);
    border: 3px solid var(--menu-hover-bg-color);
    border-radius: 12px;
    padding: 10px;
    width: 300px;
    color: var(--info-text-color);
    display: block;
    transition: background-color 0.3s, transform 0.3s;
}

/* Стили для параграфов */
#infoContainer p {
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

 /* Встроенные стили можно добавить сюда */
    .interface-buttons {
        margin: 2px;
    }

    .interface-buttons button {
        background-color: var(--menu-bg-color);
        border: 3px solid var(--menu-hover-bg-color);
        border-radius: 12px;
        margin-bottom: 4px;
        text-align: left;
        color: var(--menu-text-color);
        font-weight: 500;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
        padding: 10px;
        display: block;
        width: 100%;
        transition: background-color 0.3s, transform 0.3s;
    }

    .interface-buttons button:hover {
        background-color: var(--menu-hover-bg-color);
        border: 3px solid var(--menu-hover-border-color);
        transform: translateY(-2px);
        border-radius: 12px;
    }

@media (max-width: 1080px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 780px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .stat-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 680px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 610px) {
    body {
        font-size: 10px;
    }

    .form-style button {
        font-size: 10px;
        width: 100px;
    }

    .main__content {
        flex-direction: column;
    }

    .menu__list {
        height: 50px;
    }

    .menu__panel {
        max-height: 100px;
        width: 100%;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }
    .stat-container,
    .cards {
        height: 100vh;
        padding-bottom: 102px;
    }

    #infoContainer h3 {
        font-size: 12px;
    }

    #infoContainer p {
        font-size: 10px;
    }
}
